{% load static %}


<!DOCTYPE html>

<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FirstDjango{% endblock %}</title>

    <link rel ="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel ="stylesheet" href="{% static 'main/css/buttons.css' %}?v=1">
    {% block extra_css %}
    {% endblock %}


</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'index' %}" class="nav-logo">
                <img src="{% static 'main/img/Python-logo.png' %}" width="30" alt="FirstDjango" class="logo-image">
                <span class="logo-text">FirstDjango</span>
            </a>
            <div class="nav-links">
                <a class="nav-link" href="{% url 'index' %}">Головна</a>
                <a class="nav-link" href="{% url 'all_workers' %}">Всі працівники</a>
                <a class="nav-link" href="{% url 'about' %}">Про нас</a>
                <a class="nav-link" href="#">Контакти</a>
            </div>
        </div>
    </nav>

     <main class="main-content">
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="content-box">
             {% block content %}

             {% endblock %}
        </div>
     </main>

     <footer class="footer">
        <p>&copy; 2026 FirstDjango. Всі права захищені.</p>
     </footer>

</body>
</html>
